{% extends 'site/index.html.twig' %}

{% block body %} 
	<div>
	<label>identifien </label>
	<input  type="text" id="name" name="name" >
	</div>
	<div>
	<label>mot de passe </label>
	<input  type="password" id="password" name="password" >
	</div>
{% endblock %}