{% extends 'Layouts/base.html.twig' %}

{% block title %}SALUT{% endblock %}

{% block body %}
	<h1> la page d'acceuil</h1>
	<a id ="page_accuill" href="{{ path('site') }}" > page d'acceuil</a>
	<a id ="connection" href="{{ path('connection') }}" > connection</a>
	<a id="cree_compte" href="{{ path('site') }}" > cree un compte</a>
	
{% endblock %}
