{% extends 'Layouts/site.html.twig' %}

{% block stylesheets %}
  <style>
    label {
      display: block;
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Inscription</h1>
  {{ form(registerForm) }}
{% endblock %}

{#
GETREAU Lucas
CHAKARA Ibrahim
#}